
<div class="contenedor-capturas">
  <h1>Mantenimiento de Capturas</h1>
  <p>Administra las capturas de gatos en colonias.</p>
<div class="filtro-capturas">
  <mat-form-field appearance="outline">
    <mat-label>Buscar por fecha</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="filtroFecha" (dateChange)="filtrar()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Buscar por gato</mat-label>
    <input matInput [(ngModel)]="filtroGato" (input)="filtrar()" placeholder="Nombre del gato">
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="abrirDialogoNuevaCaptura()">Añadir Captura</button>
</div>

<table mat-table [dataSource]="capturasFiltradas" class="mat-elevation-z8">
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef>Fecha</th>
    <td mat-cell *matCellDef="let captura">{{ captura.fechaCaptura | date }}</td>
  </ng-container>
  <ng-container matColumnDef="gatos">
    <th mat-header-cell *matHeaderCellDef>Gatos</th>
    <td mat-cell *matCellDef="let captura">
      <span *ngFor="let gato of captura.gatos; let last = last">
        {{ gato.nombre }}<span *ngIf="!last">, </span>
      </span>
    </td>
  </ng-container>
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let captura">
      <button mat-icon-button color="primary" (click)="editarCaptura(captura)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="eliminarCaptura(captura)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>
</div>